<!-- css -->
<link rel="stylesheet" href="/css/quill.snow.css" />
<!-- html -->
<div id="answer-detail-container">
  <div class="row mb-2">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <label for="categoryAnsCode" class="form-label">Thể loại</label>
              <select class="form-select" id="categoryAnsCode" name="categoryAnsCode">
                <% content.categoryQuestion.forEach(function(cate) { %>
                  <option value="<%= cate.categoryCode %>" <%=(content.categoryAnsCode &&
                    content.categoryAnsCode===cate.categoryCode) ? 'selected' : '' %>
                    >
                    <%= cate.categoryName %>
                  </option>
                  <% }); %>
              </select>
            </div>

            <div class="col-md-3">
              <label for="answerObject" class="form-label">Đối tượng</label>
              <select class="form-select" id="answerObject">
                <option value="YEN"  <%= content.answerObject==='YEN' ? 'selected' : '' %>>Yến</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="preview">
        <div class="chat-box">
          <div class="message user">
            <div class="bubble">Câu hỏi của bạn ?</div>
          </div>
          <div class="message bot">
            <div>
              <div class="bot-info">
                <span>ChatBot AI - Yến</span>
              </div>

              <div class="bubble" id="botMessage">
                <%- content.answerContent %>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-button">
          <button class="btn-common" onclick="updateAnswer()">Lưu</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="common-editor">
        <div id="editor"><%- content.answerContentRaw %></div>

        <div class="bottom-button">
          <button class="btn-common" onclick="getContent()">
            << 
          </button>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="upload">
        <p class="title">Danh sách File</p>
        <input type="file" id="fileInput" hidden accept="image/*,audio/*" />
        <div class="space-box">
          <div class="file-list"></div>
          <div class="bottom-button">
            <button class="btn-common" id="uploadBtn">Upload File</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let answerContent = `<%- content.answerContent %>`;
  let answerContentRaw = `<%- content.answerContentRaw %>`;
  console.log('a',<%- JSON.stringify(content) %>);
</script>
<script src="/js/quill.js"></script>
<script src="/js/page-answer-detail.js"></script>