<!-- html -->
<div id="page-answer-mutation">
  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <label for="answerCategory" class="form-label">Thể loại</label>
              <select class="form-select form-select-sm" id="answerCategory" name="answerCategory">
                <% values.categories.forEach(function(cate) { %>
                  <option value="<%= cate.categoryCode %>" <%=(values.answerCategory && values.answerCategory===cate.categoryCode) ? 'selected' : '' %>>
                    <%= cate.categoryName %>
                  </option>
                  <% }); %>
              </select>
            </div>

            <div class="col-md-3">
              <label for="answerObject" class="form-label">Đối tượng</label>
              <select class="form-select form-select-sm" id="answerObject">
                 <% values.objects.forEach(function(obj) { %>
                  <option value="<%= obj.objectKeyword %>" <%=(values.answerObject && values.answerObject===obj.objectKeyword) ? 'selected' : '' %>>
                    <%= obj.objectName %>
                  </option>
                  <% }); %>
              </select>
            </div>
            <div class="col-md-3">
              <label for="answerObject" class="form-label">Loại</label>
              <div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="isFree" id="free" value="Y" checked>
                  <label class="form-check-label" for="free">Miễn phí</label>
                </div>

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="isFree" id="pay" value="N">
                  <label class="form-check-label" for="pay">Tính phí</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="preview">
        <div class="chat-box">
          <div class="message user">
            <div class="bubble">Câu hỏi của bạn ?</div>
          </div>
          <div class="message bot">
            <div>
              <div class="bot-info">
                <span>ChatBot AI - Yến</span>
              </div>

              <div class="bubble" id="content-message">
                <%- values.answerContent %>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-button bottom-swtich">
          <div class="align-items-center gap-3 preview-box" style="display: none;">
            <label for="isUpgradePreview" class="form-check-label mb-0">Chế độ xem gói miễn phí</label>
            <div class="form-check form-switch m-0">
              <input class="form-check-input" type="checkbox" role="switch" id="isUpgradePreview">
            </div>
            <label for="isUpgradePreview" class="form-check-label mb-0">Chế độ xem gói nâng cấp</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="component-editor">
        <%- include('./component-editor', { content: values.answerContent}) %>

          <div class="bottom-button">
            <button class="btn-info-audio" onclick="getThenRenderEditorContent()">
              Xem trước
            </button>
            <button class="btn-submit" onclick="createAnswer()">Thêm</button>
          </div>
      </div>
    </div>

    <div class="col-4">

      <%- include('./component-upload') %>
    </div>
  </div>
</div>
<script>
  let answerContent = `<%- values.answerContent %>`;
</script>
<script src="/js/page-answer-mutation.js"></script>