<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= title || "My Site" %></title>
   <%- include('./vendor-css') %>
</head>
<%- include('./vendor-script') %>

<body>
  <% if (!isLayout) { %>
      <%- body%>
  <% } else{  %>
    <%- include('./topbar') %>
    <%- include('./sidebar') %>
    <div class="main-content">
      <div class="page-content">
          <div class="container-fluid">
              <%- body%>
          </div>
      </div>
    </div>
    <!-- Overlay toàn trang -->
    <div id="page-loader" class="page-loader hidden">
      <div class="spinner"></div>
    </div>
    <script>
      const user = <%- JSON.stringify(user) %>;
      console.log("user ===> ", user)
    </script>
  <% }  %>

  <%- include('./footer') %>
</body>
</html>
